body {
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
